/* CUSTOM COLORS ACROSS ALL CSS FILES ON THE APP */
/* SIMPLY USE var(--colorName) in place of Hardcoding the color */
/* IT WILL MAKE THINGS SUPER EASY IF WE WANT TO MAKE SEVERAL THEMES */

:root {
  --darkGray: #21252a;
  --lightGray: #373d45;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

/* USE rem units FOR DYNAMIC FONT-SIZING ACROSS THE APP */
/* EXAMPLE: font-size: 1rem; */
/* You can a set decimal point as well: font-size: 1.2rem; */

.App {
  box-sizing: border-box;
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
}

.formCard{
  justify-self: center;
  width: 30rem;
  padding: 2rem;
  margin: 1rem;
}