.Home {
  overflow-y: scroll;
}

.Home .landing-wrapper {
  display: grid;
  grid-template-columns: 50% 30%;
  gap: 10%;
}

.Home .img-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.Home .landing-img {
  width: 120%;
}

.Home .landing-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 2rem;
}

.Home .landing-text {
  text-align: center;
  background-color: rgba(35, 98, 134, 0.541);
  padding: 3rem;
}

.Home .landing-text h1 {
  font-size: 78px;
  font-weight: lighter;
  margin-bottom: 4rem;
}

.Home .btn {
  background-color: rgba(35, 98, 134, 0.541);
  border-radius: 0;
  color: black;
}

.Home .btn:hover {
  background-color: rgba(254, 175, 233, 0.533);
}

.Home .link {
  text-decoration: none;
  color: black;
}

.Home .link:hover {
  text-decoration: none;
  color: black;
}

.Home .login-btn {
  padding: 1rem 5rem;
}

.Home .signup-btn {
  padding: 1rem 4.6rem;
}

@media screen and (max-width: 1024px) {
  .Home {
    height: 100%;
  }

  .Home .landing-wrapper {
    padding: 2rem;
    place-items: center;
    display: flex;
    flex-direction: column;
  }

  .Home .landing-img {
    width: 100%;
  }

  .Home .landing-content {
    width: 85%;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .Home .landing-wrapper {
    padding: 1rem;
  }

  .Home .landing-img {
    margin-bottom: 1rem;
  }

  .Home .landing-content {
    width: 100%;
    gap: 1rem;
  }
}
