.signup {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90vh;
  font-size: 140%;
}

.formCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}
.form-box {
  margin: 5rem;
  width: 80%;
  padding: 2rem;
  background-color: var(--lightblue);
  filter: drop-shadow(1px 1px 3px var(--peach));
}

.text-muted {
  font-size: 70%;
}

.formGroup {
  padding: 2rem;
}

.custom-form {
  padding: 0.8rem;
  font-size: 65%;
}

.submit-btn {
  padding: 0.6rem;
}
